*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: url(https://images.alphacoders.com/118/1188871.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::before {
  content: '';
  position: absolute;
  width: 25%;
  height: 25%;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  background: url(../public/logo512.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 6;
  animation: logo 5s linear infinite;
}

@keyframes logo {
  0% {
  
    transform: translate(-50%, -50%) rotateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(720deg);
  }
}

.container::after {
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(238, 26, 26, .7), rgba(23, 81, 156, .7), rgba(120, 226, 120, .6));
  position: absolute;
}

.boxContainer {
  height: 70vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  z-index: 100;
  overflow: hidden;
}


@media(max-width: 900px) {
  .boxContainer {
    width: 35em;
  }
}




@media(max-width: 600px) {
  .boxContainer {
    width: 30em;
    min-height: 55vh;
  }
}

@media(max-width: 450px) {
  .boxContainer {
    width: 25em;
  }
  .btn {
    width: 15em;
  }
}

@media(max-width: 350px) {
  .boxContainer {
    width: 22em;
  }
}